html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  
}

.main-container {
  /* width: 100%; */
  background-color: white;
  border-radius: 2rem;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 3rem 2rem 3rem 2rem;     */
  
}

.image-box img {
  border-radius: 2rem 2rem 0 0;
}

.info p {
  color: hsl(224, 23%, 55%);
}

h2 {
  color: hsl(223, 47%, 23%);
  padding-top: 1rem;
}

.plan-box {
  background-color: hsla(224, 23%, 55%, 0.083);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5rem;
  border-radius: 2rem;
  padding: 1rem;
  align-items: center;
}

.plan-box a {
  color: hsl(245, 75%, 52%);
}

h3 {
  color: hsl(223, 47%, 23%);
  margin: 0;
  padding-bottom: 0.4rem;
}

#year {
  color: hsl(224, 23%, 55%);
  margin: 0;
}

.Payment h4 {
  color: white;
  background-color: hsl(245, 75%, 52%);
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
}

#Cancel {
  color: hsl(224, 23%, 55%);
  background-color: white;
}

.attribution {
  text-align: center;
}
